@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

body {
    background : #fcfcf5;
    min-height: 100vh;
    overflow-x: hidden;
}

nav {
    position : absolute;
    top : 0;
    left : 0;
    width : 100%;
    height: 80px;
    background : #fff;
    padding : 20px 40px;
    box-shadow: 0 15px 15px rgba(0,0,0,0.05);
}

.navbar {
    align-items: center;
    justify-content: space-between;
    display: flex;
    font-family: 'Comfortaa', cursive;
}

a {
    text-decoration: none;
    color : #333;
}

.navbar_logo {
    font-size: 1.5em;
    font-weight: 700;
}


.navbar_menu {
    position : relative;
    display : flex;
    gap : 10px;
}

.navbar_menu li {
    list-style-type: none;
}

.navbar_menu li a {
    position: relative;
    font-size : 1em;
    color : #333;
}

.navbar_menu li a::before {
    content :'';
    position : absolute;
    bottom: -3px;
    width:100%;
    height:2px;
    background: #999;
    transform: scaleX(0); /*0이니까 안보이는 상태*/
    transition: transform 0.5s ease-in-out; /*전환(transition)효과가 천천히 시작되어 천천히 끝남*/
    transform-origin: right;
}

.navbar_menu li a:hover::before {
    transform : scaleX(1);
    transform-origin: left;
}

.navbar_search {
    position : relative;
    font-size: 1.5em;
    cursor : pointer;
    z-index: 10;
    width : 24px;
    height : 24px;
}

.navbar_searchBox {
    position : absolute;
    right : -100%;
    width : 100%;
    height : 100%;
    display : flex;
    background : #fff ;
    align-items: center;
    padding : 0 30px;
    transition : 0.5 ease-in-out;
}

.navbar_searchBox.active {
    right : 0;

}

.navbar_searchBox input {
    width : 100%;
    outline: none;
    height : 50px;
    color : #333;
    font-size: 1em;
    border: 1px solid #333;
    border-radius: 30px;
    padding : 0 20px;
}

#searchBtn {
    position : relative;
    left : 20px;
    transition: 0.5s ease-in-out;
}

#searchBtn.active {
    left : 0;
}

#closeBtn {
    opacity: 0;
    visibility: hidden;
    transition : 0.5s;
    scale : 0;
}

#closeBtn.active {
    opacity : 1;
    visibility: visible;
    transition: 0.5s;
    scale: 1;
    color : #999
}

.menuToogle {
    position : relative;
    display: none;
}

@media (max-width : )